1.  Python Program to exchange the values of two numbers without using a temporary variable.

In [10]:
a1=int(input())
a2=int(input())
a1, a2 = a2, a1
print(a1, a2)

5
10
10 5

2. Write a python code to replace all  "a"  with 2 for the given variable
s = 'abc12321cba'

In [8]:
s='abc12321cba'
for i in s:
  if i=='a':
    s=s.replace(i, '2')
print(s)

2bc12321cb2

3. Python code for to  remove first character in string?

In [16]:
s=input()
s=s[1:]
print(s)

selvi
elvi

4. Concatenate two strings  
First Input : "hello"
Second Input : "guvi"
desired output :   "hello guvi"

In [20]:
First_input=input()
Second_input=input()
desired_output=" ".join([First_input, Second_input])
print(desired_output)

hello
guvi
hello guvi

5. Repeat the string "hello guvi" 3 times
desired output :  'hello guvi hello guvi hello guvi '

In [28]:
string=input()
for i in range(3):
  print(string, end=' ')

hello guvi
hello guvi hello guvi hello guvi

6. Create 3 variables a1,a2,a3. Assign the same value " 4 " to all the variables in a single line of code.

In [31]:
a1, a2, a3 = 4, 4, 4
print(a1, a2, a3)

4 4 4

7. Calculate BMI of a person using the height and weight.
BMI = weight / (height **2)

In [35]:
weight=float(input())
height=float(input())
BMI=weight/(height**2)
print(BMI)

100
1.63
37.63784862057285

8.Write a python program to calculate the area of circle.

In [37]:
radius=float(input())
pi=22/7
circle_area = pi * radius **2
print(circle_area)

7
154.0

9.Calculate the simple interest
simple_interest = p * n * r /100

In [38]:
p=float(input())
n=int(input())
r=int(input())
si=p*n*r/100
print(si)

10000
3
5
1500.0

10.Python code to calculate the square root of the given number(run time variable)

In [40]:
num=float(input())
sqrt=num**(0.5)
print(sqrt)

30
5.477225575051661