IF Statement
Problems:
1.	Write a program to check whether x is less than y
where, x = 20 and y = 30
Assigning x equal to 20 Assigning y equal to 30 If condition x is less then y then go to step 4 print x is less then y

In [1]:
x=20
y=30
if x<y:
	print(x, 'is less than', y)
else:
	print(y, 'is less than are equal to', x)

20 is less than 30

2.	Write a program to check whether the total score (theory --> 100 + practical --> 100) is less than or equal to 200. If it goes beyond 200, print an error or a warning message.
Hint:
Set, Theory equal to 140 Practical equal to 145 If condition for theory + practical is greater than 200 then, print invalid score

In [2]:
Theory=140
Practical=145
Total=Theory+Practical
if Total>200:
  print("Invalid Score")
else:
  print(Total)

Invalid Score

If-else Statement
3.	Write a python program to to check whether the student has passed the subject based on string input yes/no
Hint:
Get an user input 'yes' / 'no' pass this to variable named 'Subject' Create a If condition, when the Subject value is 'yes' then print 'Cleared the test', Else print 'Failed the test'

In [3]:
Subject=input("Enter the subject value YES/NO: ")
Subject = Subject.lower()
if Subject!="yes" and Subject!='no':
  print("Enter 'YES' or 'NO' only")
elif Subject=="yes":
  print("Cleared the test")
else:
  print("Failed the test")

Enter the subject value YES/NO: yes
Cleared the test

4.	Write a program to get the password from user, check whether the password is 'great'. Through a reply to the user accordingly.
Hint:
Get password from user, the input statement should be 'Enter the password: ' pass this to variable named 'Password' If passwrod is 'great', print 'Password Accepted' else print 'Wrong Password'

In [4]:
password=input("Enter the password: ")
if password== "great":
  print("Password Accepted")
else:
  print("Wrong Password")

Enter the password: good
Wrong Password

Nested if Statement
1.	Based on the users age, divide them in to three groups Group 1 : Age <=18 , Minors who are not eligible to work Group 2 : 18<Age<60 , ELigible to work Group 3 : >=60, Too old to work as per govt. regulations.
Write a program for the same
Hint:
Create variable Name age equal to input if condition for age is < 18 go to step 3 , else go to step 5 print Your Minor not Eligible to Work if condition for age >= 18 and age <= 60 go to step 5 , else go to step 6 print Your Eligible to Work fill in your details and apply print Your too old to work as per the Government rules Please Collect your pension

In [5]:
age=int(input())
if age<18:
  print("You are Minor. Not elgible for work")
elif 18<=age<=60:
  print("You are eligible for work")
else:
  print("You are too old to work as per the Government rules. Please Collect your pension")

65
You are too old to work as per the Government rules. Please Collect your pension

While Loop
1.	Take an integer as input from the user and print all the numbers from 0 to that number in reverse order.
Example : if the input is 3, the output should be 3 2 1
Hint:
Create variable n using input value give the while loop condition i.e. n > 0 then decrement, n = n-1 print n

In [6]:
n = int(input())
list1 = []
while n > 0:
    list1.append(n)
    n -= 1
print(*list1)

10
10 9 8 7 6 5 4 3 2 1

2.	Write a python code to find the squares of all the numbers based on an input.
Example : If the input is 10, the output should be 11 ,22 ,33...... 1010
Hint:
Create the variable i assigning to 1 Give the while loop condition for i <= 10 print i ** 2 increment i loop will execute until i is less than or equal to 10

In [7]:
n = int(input())
i=1
while i<=n:
	print(i**2)
	i+=1

12
1
4
9
16
25
36
49
64
81
100
121
144

For Loop
1.	Write a pseudocode to print the multiplication table of a given number.
Example : if the user input is 3, the output should be like below :
3 X 1 = 3 3 X 2 = 6 ... 3 X 10 =30
Hint:
Get user input and store it in variable n. Give the For loop condition in the range between (1,11) In print statement give the condition (n,'x',i,'=' ,n*i) This will print the multiplication tables of a given number.

In [8]:
n = int(input())
print('Multiplication table for', n)
for i in range(1,11):
	print(n,"x",i,"=", n*i)

4
Multiplication table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

2.	Write a python code to print squares of all numbers present in the list = [1, 22, 14, 64, 31, 120]
Hint:
Create a list named 'numbers' [1, 22, 14, 64, 31, 120] Create a variable name 'square' and assign 0 to it For loop condition for i in the list square equal to i * i
Print square

In [9]:
numbers = [1, 22, 14, 64, 31, 120]

for i in numbers:
    square = i * i
    print(square)

1
484
196
4096
961
14400

Additional Practice Programs
1.	Write a python program that takes a list ['red','black','blue'] and prints each element in the list using whle loop

In [10]:
Colors=["red", "black", "blue"]
i=0
while i<len(Colors):
	print(Colors[i])
	i+=1

red
black
blue

2.	Write a same program as above using a For loop?

In [11]:
Colors=["red", "black", "blue"]
for i in Colors:
	print(i)

red
black
blue

3.	Write a Python Program to find the LCM of two numbers?

In [12]:
m, n = map(int, input("Enter the two integers: ").split())
a = max(m, n)

while True:
    if a % m == 0 and a % n == 0:
        break
    a += 1
print(a)

Enter the two integers: 18 91
1638

4.	Python Program to find the sum of series: 1 + 1/2 + 1/3 + ….. + 1/N.

In [13]:
n=int(input())
Sum_of_series=0
for i in range(1, n+1):
	Sum_of_series+=(1/i)
print(round(Sum_of_series, 2))

10
2.93

List Comprehensions
1.	i. Write a Python program to get the squares of numbers present in the range of (1-10)
●	output squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
Square_list=[]
for i in range(11):
	Square_list.append(i**2)
print(Square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

ii. For the same question get the desired output using List Comprehension

In [15]:
Square_list=[x**2 for x in range(11)]
print(Square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2.	Convert a list of integers to a list of strings, using List comprehension

In [16]:
Number_list=[1,2,3,4,5,6,7,8,9,10]
String_list=[str(x) for x in Number_list]
print(String_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

3.	Create tuples from two lists using List Comprehensions
Hint: list1 =[0,1] list2 =['zero','one']
Output: [(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

In [17]:
List1 = [0, 1]
List2 = ["zero", "one"]
List3 = [(x,y) for x in List1 for y in List2]
print(List3)

[(0, 'zero'), (0, 'one'), (1, 'zero'), (1, 'one')]

4.	Get Index of Each Element of List using enumerate in List Comprehension

In [18]:
list1=['rose', 'lily', 'lotus', 'jasmine']
index_list=[(index, value) for  index, value in enumerate(list1)]
print(index_list)

[(0, 'rose'), (1, 'lily'), (2, 'lotus'), (3, 'jasmine')]