
# Python List:
1. Create your own lists otherwise use the List1 = ['hello','GUVI','GEEK']  to perform the below Python list  Operations?
   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration
  
**1. A. Repetition:**

In [1]:
List1=['Selvi', 'Shravann','Kimchi', 'Mrinal']
print(List1*2)

['Selvi', 'Shravann', 'Kimchi', 'Mrinal', 'Selvi', 'Shravann', 'Kimchi', 'Mrinal']

**1.B. Concatenation (+):**

In [2]:
List1=['Selvi', 'Shravann','Kimchi', 'Mrinal']
List2=['Chandru', 'Subash', 'Sankar']
print(List1+List2)

['Selvi', 'Shravann', 'Kimchi', 'Mrinal', 'Chandru', 'Subash', 'Sankar']

**1.C. Membership:**

In [3]:
print('Selvi' in List1)

True

In [4]:
print('Chandru' in List1)

False

**1.D. Length:**

In [5]:
print(len(List1), len(List2), sep=",")

4,3

**1.E. Iteration:**

In [6]:
for name in List1:
  print(name)

Selvi
Shravann
Kimchi
Mrinal

2.1. Create your own lists to perform the below Python List Built-in functions?
otherwise use the
                   List1 = [15, 300, 2700, 821]
                   List2 = [12, 2]
                   List3 = [34, 567, 78]
   A.  max(list)    
   B.  min(list)    
   C.  list(seq)      
**2.A)  max():**

In [7]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]

In [8]:
print(max(List1))

2700

**2.B) min():**

In [9]:
print(min(List2))

2

**2.C) list:**

In [10]:
seq = (1, 2, 3, 4, 5)
print(list(seq))

[1, 2, 3, 4, 5]


3. Create your own lists to perform the below Python List built-in methods
   A.  list.append()
   B.  list.clear()   
   C.  List.copy()          
   D.  list.count()         
   E.  list.extend()    
   F.  list.index()
   G.  list.insert()  
   H.  list.pop()
   I.  list.remove()    
   J.  list.reverse()         
   K.  list.sort()  
3.A) append:
In [ ]:

3.B) list.clear():
In [ ]:

3.C) List.copy()
In [ ]:

3. D) list.count(obj):
In [ ]:

3.E) list.extend(seq):
In [ ]:

3.F) list.index(obj):
In [ ]:

3.G) list.insert(index, obj):
In [ ]:

3.H) list.pop(obj=list[-1]):
In [ ]:

3.I) list.remove(obj):
In [ ]:

3.j) list.reverse():
In [ ]:

3.K) list.sort([func]):
In [ ]:

# Python Tuple
Create your own Tuple to perform the below Python tuple Operations ?
otherwise use the below
               Tuple1 = ('a','b','c','d')
               Tuple2 = ('e','f','g','h')
1. Tuple Operations


   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration
   
**1.A. Repetition:**

In [11]:
Tuple1 = ('a','b','c','d')
Tuple2 = ('e','f','g','h')

In [12]:
print(Tuple1*3)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

**1.B. Concatenation (+):**

In [13]:
print(Tuple1+Tuple2)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

**1.C) Membership:**

In [14]:
print('i' in Tuple1)

False

In [15]:
print('d' in Tuple1)

True

**1.D) Length:**

In [16]:
print(len(Tuple1), len(Tuple2), sep=",")

4,4

**1.E) Iteration:**

In [17]:
for alphapet in Tuple1:
  print(alphapet, end=" ")

a b c d


2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
otherwise use the below
           Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
       
        A. max(Tuple)   
        B. min(Tuple)     
        C. Tuple(seq)     
**2.A) max():**

In [18]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
print(max(Tuple1))

8765

**2.B) min():**

In [19]:
print(min(Tuple1))

1

**2.C)Tuple(seq)**

In [20]:
seq=[1, 2, 3, 4, 5, 1, 2, 4, 5]
Tuple2=tuple(seq)
print(Tuple2, type(Tuple2))

(1, 2, 3, 4, 5, 1, 2, 4, 5) <class 'tuple'>

# Python Set
Create your own Set to operate the below Python Set Operations ?
otherwise use the below set:
       Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
       Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
   
1. Set Operations
    A. Union
    B. Intersection
    C. Difference
    D. Symmetric difference
**1.A) Union:**

In [21]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
Union_set=Set1 | Set2
print(Union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

**1.B. Intersection**

In [22]:
print(Set1 & Set2)

{3, 4, 5, 6, 7}

**1.C. Difference**

In [23]:
print(Set1 - Set2)
print(Set2 - Set1)

{1, 2, 8, 876, 77}
{432, 54, 567}

**1.D. Symmetric difference:**

In [24]:
print(Set1^Set2)

{1, 2, 8, 876, 77, 432, 54, 567}

# Python Dictionary
Create your own Dictionary to perform the below Python Built-in Dictionary functions
otherwise use the below Dictionary:
                           dict = {'Name': 'Student', 'Age': 27};
   A.  len(dict)    
   B.  str(dict)      
   C.  type(variable)
   
**1.A) len(dict):**

In [25]:
dict = {'Name': 'Student', 'Age': 27}
print(len(dict))

2

**2.B) str(dict):**

In [26]:
print(str(dict))

{'Name': 'Student', 'Age': 27}

**1.C) type(variable):**

In [27]:
print(type(dict))

<class 'dict'>

2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
otherwise use the below Dictionary:

                           dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
   A.  dic.clear()
   B.  dict.copy()  
   C.  dict.fromkeys()
   D.  dict.get(key[, value])    
   E.  dict.items()   
   F.  dict.keys()   
   G.  dict.setdefault()  
   H.  dict.update()  
   I.  dict.values()  
**2.A) dic.clear():**

In [28]:
dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dictionaries

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [29]:
dictionaries.clear()
dictionaries

{}

In [30]:
dict1 = {'name':('Selvi', 'Shravann', 'Mrinal'), 'Age': (37, 6, 3), 'Marks':(98, 96, 89)}
dict1

{'name': ('Selvi', 'Shravann', 'Mrinal'),
 'Age': (37, 6, 3),
 'Marks': (98, 96, 89)}

**2.B) dict.copy():**

In [31]:
dict2=dict1.copy()
print(dict2)

{'name': ('Selvi', 'Shravann', 'Mrinal'), 'Age': (37, 6, 3), 'Marks': (98, 96, 89)}

**2.C) dict.fromkeys():**

In [32]:
keys = ['name', 'age', 'city']
dict3=dict.fromkeys(keys)
dict3

{'name': None, 'age': None, 'city': None}

**2.D) dict.get(key[, value]) :**

In [33]:
print(dict1.get('name'))

('Selvi', 'Shravann', 'Mrinal')

In [34]:
print(dict1.get('salary', "Not found"))

Not found

**2.E) dict.items()**

In [35]:
print(dict1.items())

dict_items([('name', ('Selvi', 'Shravann', 'Mrinal')), ('Age', (37, 6, 3)), ('Marks', (98, 96, 89))])

**2.F) dict.keys() :**

In [36]:
print(dict1.keys())

dict_keys(['name', 'Age', 'Marks'])

**2.G) dict.setdefault():**

In [37]:
salary = dict1.setdefault('salary')
print(dict1)

{'name': ('Selvi', 'Shravann', 'Mrinal'), 'Age': (37, 6, 3), 'Marks': (98, 96, 89), 'salary': None}

In [38]:
grade = dict1.setdefault('grade', 'A')
print(dict1)

{'name': ('Selvi', 'Shravann', 'Mrinal'), 'Age': (37, 6, 3), 'Marks': (98, 96, 89), 'salary': None, 'grade': 'A'}

**2.H) dict.update():**

In [39]:
dict2={'salary': (10000, 3000, 0)}
dict1.update(dict2)
print(dict1)

{'name': ('Selvi', 'Shravann', 'Mrinal'), 'Age': (37, 6, 3), 'Marks': (98, 96, 89), 'salary': (10000, 3000, 0), 'grade': 'A'}

**2.L)  dict.values():**

In [40]:
print(dict1.values())

dict_values([('Selvi', 'Shravann', 'Mrinal'), (37, 6, 3), (98, 96, 89), (10000, 3000, 0), 'A'])

# Conditional Statements
   1. IF
   2. IF-ELSE
   3. If...Elif...Else

1. Write if statement 13 is greater than 25?

In [42]:
a=13
b=25
if a<b:
  print(b, 'is greater than', a)
elif a==b:
  print('They are equal')
else:
  print(a, 'is greater than', b)

25 is greater than 13

**2.  Write a if else  statement to find if the number is divisible by 25?**

In [43]:
a=int(input())
if a==0:
  print('Enter a valid number')
elif a%25==0:
  print(a, 'is divisible by 25')
else:
  print(a, 'is not divisible by 25')

75
75 is divisible by 25

**3.Using the three variables 'a = 154; b = 2451; c = 6054',
Write a If...Elif...Else statement to find the greatest number**

In [44]:
a, b, c= 154, 2451, 6054
if a>b and a>c:
  print(a ,'is the greatest number')
elif b>a and b>c:
  print(b ,'is the greatest number')
else:
  print(c, 'is the greatest number')

6054 is the greatest number