1.	Write a Python function to multiply all the numbers in a list

In [1]:
list1=[1, 3, 5, 7, 9]
product=1
for i in list1:
  product*=i
print(product)

945

2. Write a Python function to reverse a string
i) use for loop
ii) use while loop

In [2]:
# for loop
name = 'Selvi'
reverse=""
for i in range(len(name)-1, -1, -1):
  reverse+=name[i]
print(reverse)

# while loop
while i>0:
  reverse+=name[i]
  i-=1
print(reverse)

ivleS
ivleS

3. Write a function to add and subtract two variables

In [3]:
def add_subtract(a, b):
  addition = a+b
  subtraction=a-b
  return addition, subtraction

add_subtract(100, 50)

(150, 50)

4. Write a function to check the number is divisible by 12

In [4]:
def check_divisible_by_12(a):
  if a%12==0:
    print(a, 'is divisible by 12')
  else:
    print(a, 'is not divisible by 12')
check_divisible_by_12(72)

72 is divisible by 12

5. Write a function to calculate the number of days and weeks

In [5]:
def cal_days_weeks(n):
  weeks=n//7
  days=n%7
  print(n, 'has', weeks, "weeks and", days, "days")
cal_days_weeks(365)

365 has 52 weeks and 1 days

6.Write a Python function to Find the 5!?

In [6]:
factorial=1
for i in range(1, 6):
  factorial*=i
print("factorial of 5 is", factorial)

factorial of 5 is 120


7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [7]:
list1=[1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[1, 2, 3, 4, 5, 34, 654, 7, 6]

Types of arguments


   1. Required arguments
   2. Keyword arguments
   3. Default arguments

1. Required arguments:
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [8]:
def simple_interest(principal, rate, time):
  return((principal*rate*time)/100)
simple_interest(10000, 4, 5)

2000.0


2.Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [9]:
def hello(name, message):
  print(f"Printing the message with '{name}'and '{message}'")
hello(name='Selvi', message='Hello!')
hello(message='Good Morning', name='Selvi')

Printing the message with 'Selvi'and 'Hello!'
Printing the message with 'Selvi'and 'Good Morning'

3.Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [10]:
def introduce(name, age=27):
    print(f"My name is '{name}' and age is '{age}'")

introduce("Selvi")

My name is 'Selvi' and age is '27'

**lambda function**
1. Get a number from user,  find if it is even or odd number?

In [11]:
is_even = lambda n: print("even") if n%2==0 else print("odd")
n=int(input())
is_even(n)

45
odd

2. Take a input from user and  square it

In [12]:
square= lambda x: x**2
n=int(input())
square(n)

45

2025

3. Write a lambda function using logical operators?
Hint:
Check x < 10
Output: False / True

In [13]:
logic = lambda x: True if x<10 else False
n=int(input())
logic(n)

5

True

4. Take an integer input from the user,  add 5 to the number and print it back?

In [14]:
add_5 = lambda x: x+5
n=int(input())
add_5(n)

21

26

Map
1. Add two lists using map ()
    lis1 = [12, 24, 36]
    lis2 = [41, 54, 69]
   
    Output:
    [53, 78, 105]

In [15]:
list1 = [12, 24, 36]
list2 = [41, 54, 69]
add_lists= list(map (lambda x, y: x+y, list1, list2))
add_lists

[53, 78, 105]

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [16]:
list1 = [1, 2, 3, 4, 5, 6, 7]
square_list=list(map (lambda x: x**2, list1))
print(square_list)

[1, 4, 9, 16, 25, 36, 49]

3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [17]:
numbers = [1, 2, 3, 4, 5, 6, 7]
even_odd_classify = map(lambda x: 'Even' if x % 2 == 0 else 'Odd', numbers)
result_list = list(even_odd_classify)
print(result_list)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']


4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [18]:
numbers = [11, 12, 13, 14, 435, 6, 27]
floor_division_result = map(lambda x: x // 7, numbers)
result_list = list(floor_division_result)
print(result_list)

[1, 1, 1, 2, 62, 0, 3]

**Filter**

1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [19]:
List1=[3,12, 24, 36,43,654,65432,2,654,455,43,543]
print(list(filter(lambda x: (x%7==0), List1)))

[455]

2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [20]:
List1=[1, 2, 3, 4, 5, 6]
print(list(filter(lambda x: (x%2==0), List1)))

[2, 4, 6]

3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [21]:
def is_even(List1):
	Even_num=[number for number in List1 if number%2==0]
	return Even_num
List1=[2,3,5,3,6,3,7,4,6,7]
Even=is_even(List1)
print(Even)

[2, 6, 4, 6]

4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [22]:
def is_odd(List1):
	odd_num=[number for number in List1 if number%2!=0]
	return odd_num
List1=[2,3,5,3,6,3,7,4,6,7]
Odd=is_odd(List1)
print(Odd)

[3, 5, 3, 3, 7, 7]

**Reduce**

1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [23]:
from functools import reduce
List1 = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, List1)
print(product)

24

2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [24]:
List1=[ 11 , 13, 15, 16, 2,43 ]
print(reduce(lambda x, y:x+y, List1))

100

3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [25]:
List1=[543,7,6,4567,7,78,6,6,78,765,678]
print(reduce(lambda a,b: a if a > b else b, List1))

4567

4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [26]:
List1=[543,7,6,4567,7,78,6,6,78,765,678]
print(reduce(lambda a,b: a if a < b else b, List1))

6